<html ng-app="myapp">
  <head>
      <title>The Mean stack!!!</title>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
  </head>
  <body ng-controller="myController">
  

    <ul>
      <li ng-repeat="person in people">{{person.name}}</li>
    <ul>

    <script src="/assets/js/app.js"></script>
    <script>
      var clientpeople = <%- JSON.stringify(serverpeople) %>;

    </script>
  </body>



</html>
